html {
	width: 100vw;
	height: 100vh;
}

body {
	background-image: linear-gradient(to bottom right, rgb(153, 193, 241),
		rgb(26, 95, 180));
}

.versionclip {
	transform: rotate(270deg);
	margin-top: 20px;
	position: fixed;
	top: 4px;
	right: -32px;
	font-size: smaller;
	padding: 8px;
	background-image: linear-gradient(to bottom, rgb(154, 153, 150), #fff);
	border-radius: 6px;
}

.right-dist {
	margin-right: 32px;
}

.versionlink {
	color: #333;
	text-decoration: none;
}

.mainpage {
	background-color: rgba(255, 255, 255, 0.4);
	padding: 8px;
	overflow: auto;
	width: 100%;
	height: calc(100vh - 56px);
	/* 56 px is the current height of the headline in all responsive modes; TODO: calculate it */
}

.middlecenter {
	margin: auto;
	top: 40vh;
	bottom: 40vh;
	position: fixed;
	left: 40vw;
	right: 40vw;
}

.myheadline {
	margin: 8px;
}

.bottomdist16 {
	margin-bottom: 16px;
}

.topright {
	position: fixed;
	right: 40px;
	top: 8px;
}

.middled {
	vertical-align: middle;
}

.tablelink {
	cursor: pointer;
	text-decoration: none;
	color: rgb(26, 95, 180);
}

.tablelink:hover {
	text-decoration: underline;
	color: darkcyan;
}

.deletelink {
	padding: 4px;
	border: 1px solid rgba(0, 0, 0, 0.0);
	border-radius: 4px;
}

.deletelink:hover {
	color: red;
	border: 1px solid red;
	text-decoration-line: line-through;
}

.linkbtn {
	background: transparent;
	border: 2px solid transparent;
	padding: 8px;
}

.linkbtn:hover {
	background-color: white;
	border: 2px solid silver;
	border-radius: 4px;
}

.btn-icon-silent {
	background: transparent;
	border: 2px solid transparent;
	padding: 8px;
	color: gray;
}

.btn-icon-silent:hover {
	background-color: white;
	border: 2px solid silver;
	border-radius: 4px;
	color: darkcyan;
}

.btn-dropdown {
	right: 2px;
	top: 2px;
	position: absolute;
	border: 1px solid silver;
}

.btn-dropdown:hover {
	background: rgba(0, 0, 0, 0.5);
}

.silver-to-gray-gradient {
	background-image: linear-gradient(to bottom right, lightgray, silver)
		!important;
}

.menu-danger {
	color: darkred;
	font-weight: bolder;
}

.menu-danger:hover {
	color: white;
	background: red;
}

.badgetodo {
	border-radius: 8px;
	border: 1px solid black;
	color: white;
	font-weight: bolder;
	background-image: linear-gradient(to right bottom, rgb(153, 193, 241),
		rgb(26, 95, 180));
	padding: 2px 4px 2px 4px;
	margin: 0px 2px 0px 2px;
}

.badgewarn {
	border-radius: 8px;
	border: 1px solid black;
	color: white;
	font-weight: bolder;
	background-image: linear-gradient(to right bottom, #fa0, #a70);
	padding: 2px 4px 2px 4px;
	margin: 0px 2px 0px 2px;
}

.badgeinfo {
	border-radius: 8px;
	border: 1px solid black;
	color: white;
	font-weight: bolder;
	background-image: linear-gradient(to right bottom, rgb(143, 240, 164),
		rgb(38, 162, 105));
	padding: 2px 4px 2px 4px;
	margin: 0px 2px 0px 2px;
}

.dist8 {
	margin: 8px;
}

.error {
	color: red;
}

.locked {
	background-color: rgba(255, 255, 255, 0.2) !important;
	cursor: not-allowed;
}

.framed {
	padding: 8px;
	margin-right: 12px;
	border-radius: 6px;
	min-width: 30px;
	min-height: 30px;
	text-align: center;
}

.framed-green {
	background: linear-gradient(to bottom right, lime, darkgreen);
	color: white;
	border: 1px solid green;
}

.framed-red {
	background: linear-gradient(to bottom right, red, darkred);
	color: white;
	border: 1px solid red;
}

.framed-orange {
	background: linear-gradient(to bottom right, orange, #bf6c06);
	color: white;
	border: 1px solid orange;
}

.framed-white {
	background: white;
	color: black;
	border: 1px solid black;
}

.nomaxwidth {
	max-width: none !important;
}

.mytoggle_collapsed {
	display: none;
}

.mytoggle_btn {
	cursor: pointer;
}

.mytoggle_btn:hover {
	background-color: #abcdef;
}
