<!DOCTYPE html>
<html layout:decorate="~{template}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Add a new file</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<th:block layout:fragment="libs"></th:block>
</head>
<body>
	<th:block layout:fragment="header">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item"><a th:href="@{/}" class="btn btn-outline-secondary" th:text="#{button.dashboard}"></a></li>
		</ul>
	</th:block>
	<th:block layout:fragment="main">
		<div class="mainpage">
			<div class="card" style="width: 32rem; margin-left: auto; margin-right: auto">
				<div class="card-header">
					Datei anlegen
				</div>
				<div class="card-body">
					<form action="#" th:action="@{/doAddDocument}" th:object="${document}" method="post" enctype="multipart/form-data">
						<input type="hidden" th:field="*{role}" />
						<div class="container">
							<div class="row">
								<div class="col-sm-12" style="margin-bottom: 16px">
									<input type="file" class="form-control" th:field="*{file}" />
								</div>
								<div class="col-sm-6">
									<input type="submit" class="btn btn-outline-primary" th:value="#{button.ok}" />
								</div>
								<div class="col-sm-6">
									<a th:href="@{/}" class="btn btn-outline-secondary" th:text="#{button.cancel}"></a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>