<!DOCTYPE html>
<html layout:decorate="~{template}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Welcome to Share my docs!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<th:block layout:fragment="libs"></th:block>
</head>
<body>
	<th:block layout:fragment="header">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item"><a th:href="@{/toAddrole}" class="btn btn-outline-secondary" th:text="#{button.add.role}"></a></li>
		</ul>
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item"><a th:href="@{/toAddDocument}" class="btn btn-outline-secondary" th:text="#{button.add.document}"></a></li>
		</ul>
	</th:block>
	<th:block layout:fragment="main">
		<div class="mainpage">
			<div class="card">
				<div class="card-body">
					<table class="table table-hover table-striped table-sm table-responsive">
						<thead>
							<tr>
								<th th:text="#{label.roles}"></th>
								<th th:text="#{label.documents}"></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="r : ${roles}">
								<td th:text="${r.name}"></td>
								<td><a th:each="d : ${r.documents}" th:href="@{/document/id(id=${d.pk})}" th:text="${d.name}"></a></td>
								<td><a class="btn btn-outline-primary" th:href="@{/toAddDocument(role=${r.pk})}" th:text="#{button.add.document}"></a>
								    <a class="btn btn-outline-danger" th:href="@{/deleteRole(id=${r.pk})}" th:text="#{button.delete.role}"></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>