<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Share My Docs</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:rel="stylesheet" type="text/css" media="all" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css} " />
<link th:rel="stylesheet" type="text/css" media="all" th:href="@{/webjars/font-awesome/5.15.4/css/all.css} " />
<link th:rel="stylesheet" type="text/css" media="all" th:href="@{/webjars/datatables/1.11.4/css/jquery.dataTables.min.css}" />
<link th:rel="stylesheet" type="text/css" media="all" th:href="@{/webjars/select2/4.0.13/css/select2.min.css}" />
<link th:rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
<link th:rel="stylesheet" type="text/css" media="all" th:href="@{/css/select2-bootstrap-5-theme.min.css}" />
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/datatables/1.11.4/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/webjars/select2/4.0.13/js/select2.full.min.js}"></script>
<script th:src="@{/js/dataTables.de.js}"></script>
<script th:src="@{/js/mytoggle.js}"></script>
<script th:src="@{/js/myAjax.js}"></script>
<th:block layout:fragment="libs"></th:block>
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container-fluid">
			<a class="btn btn-outline-secondary right-dist" href="#"><i class="fas fa-home"></i></a>
    	<button class="navbar-toggler right-dist" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
      	<span class="navbar-toggler-icon"></span>
    	</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul layout:fragment="header"></ul>
				<ul class="navbar-nav mb-2 mb-lg-0 right-dist">
					<li class="nav-item">
						<a th:href="@{/logout}" class="btn btn-outline-secondary" th:text="#{button.logout}"></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="mainpage" layout:fragment="main">Layout content</div>
	<div class="versionclip">
		<a href="https://gitlab.com/jottyfan/sharemydocs/-/issues" class="versionlink" target="_blank" th:text="${'Version ' + @manifestBean.getVersion()}"></a>
	</div>
</body>
</html>